header{
    background-color: rgb(33, 37, 41);
}
header .container{
    max-width: 1320px;
    padding: 0 48px;
    color: #fff;
    height: 56px;
}

header .container .row {
    align-items: center;
    height: 100%;
}

.col-left{
    text-align: left;
    font-size: 20px;
}
.col-right{
    text-align: right;
}
.col-right ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.active{
    color: #fff !important;
}
.col-right ul li{
    margin-left: 15px;
    font-size: 16px;
    color: #ccc;
}
